<div class='offset2 span5'>
<form action='/messages' method='post' class='form-horizontal'>
  <div class='control-group'>
    <label class='control-label'>Email</label>
    <div class='controls'>
      <input type='text' name='email' />
    </div>
  </div><!-- Email control group -->

  <div class='control-group'>
    <label class='control-label'>Subject</label>
    <div class='controls'>
      <input type='text' name='subject' />
    </div>
  </div>

  <div class='control-group'>
    <label class='control-label'>Message</label>
    <div class='controls'>
      <textarea name='body'></textarea>
    </div>
  </div>

  <input type='submit' value='Send' class='btn btn-large pull-right btn-success'/>
</form>
<div>